

@font-face {
    font-family: 'Cormorant Infant Regular';
    src: url('../fonts/CormorantInfant-Regular.eot');
    src: url('../fonts/CormorantInfant-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CormorantInfant-Regular.woff2') format('woff2'),
         url('../fonts/CormorantInfant-Regular.woff') format('woff'),
         url('../fonts/CormorantInfant-Regular.ttf')  format('truetype'),
         url('../fonts/CormorantInfant-Regular.svg#Cormorant Infant') format('svg');
}

@font-face {
    font-family: 'Cormorant Infant Light';
    src: url('../fonts/CormorantInfant-Light.eot');
    src: url('../fonts/CormorantInfant-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CormorantInfant-Light.woff2') format('woff2'),
         url('../fonts/CormorantInfant-Light.woff') format('woff'),
         url('../fonts/CormorantInfant-Light.ttf')  format('truetype'),
         url('../fonts/CormorantInfant-Light.svg#Cormorant Infant') format('svg');
}

@font-face {
    font-family: 'Cormorant Infant Bold';
    src: url('../fonts/CormorantInfant-Bold.eot');
    src: url('../fonts/CormorantInfant-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CormorantInfant-Bold.woff2') format('woff2'),
         url('../fonts/CormorantInfant-Bold.woff') format('woff'),
         url('../fonts/CormorantInfant-Bold.ttf')  format('truetype'),
         url('../fonts/CormorantInfant-Bold.svg#Cormorant Infant') format('svg');
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Regular.eot');
    src: url('../fonts/PTSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTSans-Regular.woff2') format('woff2'),
         url('../fonts/PTSans-Regular.woff') format('woff'),
         url('../fonts/PTSans-Regular.ttf')  format('truetype'),
         url('../fonts/PTSans-Regular.svg#PT Sans') format('svg');
}

$mainText: #052E4C;
$menuText: #417A82;
$btnBg: #B84C74;


body {
	position: relative;
	font-family: 'PT Sans';
}

/* header start */

.navbar {
    .navbar-toggler-icon{
        width: 24px;
        height: 1px;
        background: $menuText;
        display: block;
        margin: 5px 0;
    }
    .navbar-toggler{
        border: none;
        padding-left: 0;
        padding-right: 0;
    }
    .ad-bsk-count{
        width: 16px;
        height: 16px;
        border-radius: 8px;
        background: $btnBg;
        font-family: PT Sans;
        font-size: 12px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -3px;
        right: 2px;
    }

    .add-bsk-m{
        width: 35px;
        position: relative;
        top: -3px;
        svg{
            width: 29px;
            height: 23px;
            fill: $menuText;
           
        }
    }

    .nav-link {
        color: $menuText;
        font-size: 13px;
    }
    
    svg {
       width: 20px;
       height: 20px;
       fill: $menuText;
       margin-right: 11px;
    }

    .navbar-brand{
        font-size: 40px;
        color: $menuText;
        margin-right: 0;
    }

    .header-tel-city{
        text-align: center;
    }

    .search-form{
        width: 176px;
        height: 32px;
        border-radius: 20px;
        border: 1px solid $menuText;
        position: relative;
    }

    .search-string{
        border: none;
        background: none;
        border-radius: 20px;
        width: 100%;
        outline: none;
        padding: 0 20px 0 45px;
        font-family: PT Sans;
        font-size: 13px;
        color: #9FBBBF;
        height: 100%;
        
    }
    .search-btn{
       position: absolute;
       top: 0;
       left: 0;
       background: #fff;
       border-radius: 20px;
       border: none;
       top: 2px;
    }

    .navbar-toggler:focus{
        box-shadow: none;
    }

    .nav-tel{
        font-size: 13px;
        text-transform: uppercase;
        color: $menuText;
        text-decoration: none;
    }

    .mob-menu-additional{
        background: #FCFCFC;
    }

}


    .navbar-mob{
        height: 92px;
        position: relative;
        z-index: 3;
        
    }

   
.desc-nav{
    width: 72px;
    background: #F2F6F7;
    position: fixed;
    z-index: 2;
    height: 100%;
}

.logo-desc{
   width: 30px;
    height: 30px;
    background: #B84C74;
    border-radius: 50%;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    text-decoration: none;
    text-align: center;
    display: flex;
    box-sizing: border-box;
    padding-top: 7px;
    font-family: Inter;
}

.navbar-descr{
    width: 72px;
    background: #F2F6F7;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 2;
    align-items: flex-start;
    justify-content: center;
}

.navbar-descr-brand{
    width: 30px;
    height: 30px;
    background: #B84C74;
    font-size: 10px;
    font-family: Inter;
    border-radius: 50%;
    text-align: center;
    box-sizing: border-box;
    padding-top: 8px;
    color: #fff;
    text-decoration: none;
    margin-bottom: 2rem;
}

.navbar-descr{
   .nav-item svg{
        margin-right: 0;
        width: 30px;
    }

    .nav-link{
        text-align: center;
    }

    .navbar-descr-c{
        justify-content: center;
        padding-top: 30px;
    }

    .search-form-main{
        width: 25px;
        height: 25px;
        position: absolute;
        bottom: 25px;
    }

    .search-string-main{
        border: none;
        background: none;
        width: 100%;
        outline: none;
        
    }

    .search-btn-main{
        background: #F2F6F7;
        border-radius: 20px;
        border: none;
        width: 25px;
        height: 25px;
        border: 1px solid #417A82;
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        svg{
            width: 12px;
            height: 12px;
            margin-right: 0;
        }
    }

    .navbar-descr-toggler{
        margin-bottom: 30px;
    }

    .navbar-descr-menu .nav-item{
        margin-bottom: 3px;
    }
    
}
/* header end */

/* main slider start */
.main-sl-cont{
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
}

.btn-rose{
        width: 149px;
        height: 40px;
        padding-top: 10px;
        background: #B84C74;
        border-radius: 0;
        font-family: PT Sans;
        font-weight: 400;
        font-size: 13px;
        text-transform: uppercase;
        color: #fff;
        position: absolute;
        top: 56px;
        right: 13px;
        
    }

    .add-bsk{
        width: 40px;
        height: 40px;
        background: #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: absolute;
        top: 57px;
        right: -44px;
        
    }

.swiper-container {
    width: 100%;
    height: 100%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;

    
}


.main-sl-for-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    transition: transform 4s linear 4s;
    overflow: hidden;
    position: absolute;
    left: 0;
}



.swiper-slide-text {
     color: $mainText;

     h1{
        font-family: Cormorant Infant Light;
        font-size: 79px;
        letter-spacing: 0%;
        text-transform: uppercase;
        color: $mainText;
        line-height: 100%;
        margin-bottom: 20px;
        span{
            font-family: Cormorant Infant Bold;
        }

        p{
            line-height: 21px;
            margin-bottom: 50px;
        }

    }

    .btn-white{
        width: 132px;
        height: 40px;
        padding-top: 10px;
        padding-right: 24px;
        padding-bottom: 8px;
        padding-left: 24px;
        gap: 10px;
        background: #fff;
        border-radius: 0;
        font-family: PT Sans;
        font-weight: 400;
        font-size: 13px;
        text-transform: uppercase;
        color: $mainText;
         &:hover {
            border-color: $mainText;
        }
    }

}

.swiper-controls{
    position: absolute;
    bottom:0px;
    left: 0;
    z-index: 2;
    margin: auto;
    right: 0;
    display: flex;
    justify-content: left;
    justify-content: flex-start;
    align-items: baseline;
    bottom: 33px;

    .counter {
        font-family: PT Sans;
        font-size: 13px;
        color: #052E4C;
        display: flex;
        margin: 0 10px;
        position: relative;
        top: -3px;
    }

    .swiper-button-prev, .swiper-button-next{
        width: 15.5px;
        height: 15.5px;
        border-width: 1px;
        border-left: 1px solid #052E4C;
        border-top: 1px solid #052E4C;
        display: inline-block;
        position: static;
        svg{
            display: none;
        }
    }

    .swiper-button-prev{
        transform: rotate(-45deg);
        
    }

    .swiper-button-next{
        transform: rotate(135deg);
    }
    
}
    .swiper-pagination{
        display: none;
        .swiper-pagination-bullet{
            width: 10px;
            height: 10px;
            background: #F2F6F7;
            border-radius: 0;    
            opacity: 1;   
        }
        .swiper-pagination-bullet.swiper-pagination-bullet-active{
            background: $btnBg;
        }
    }

    

/* main slider end */


 // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { 
    .custom-container {
        max-width: 1149px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        padding-right: 15px;
        padding-left: 15px;
    }

   
 }

 // `xxl` применяется к устройствам x-large (большие рабочие столы, менее 1400 пикселей)
@media (max-width: 1399.98px) { 
    .add-bsk{
        right: 0;
    }
    .btn-rose{
        right: 57px;
    }
 }

@media (max-width: 575.98px) {  }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
     .swiper-slide-text h1{
        font-size: 42px;
    }

    .swiper-container .swiper-pagination{
        display: block;
        text-align: left;
        bottom: 16px;
        left: 11px;
    }
    .swiper-controls{
        display: none;
    }

    .swiper-container{
        height: 508px;
    }

    .main-sl-cont{
        align-items: flex-start;
    }

    .swiper-slide-text{
        padding-top: 50px;
    }

    .swiper-slide-text p{
        margin-bottom: 35px;
        line-height: 22px;
    }

    .navbar .search-form{
        margin-bottom: 16px;
    }
 }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {  }


 input::-webkit-input-placeholder {
  font-family: PT Sans;
  font-size: 13px;
  color: #9FBBBF;
}

input:-ms-input-placeholder {
  color: #9FBBBF;
}

input::-moz-placeholder {
  color: #9FBBBF;
  
}
